// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
:root {
    /* Light Theme */
    --ion-background-color: #f0f0f5;
    --ion-text-color: #333;
    --ion-container-background: white;
    --ion-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    /* Primary color */
    --ion-color-primary: #3880ff;
    --ion-color-primary-contrast: #ffffff;
    --ion-color-primary-shade: #3171e0;
    --ion-color-primary-tint: #4c8dff;

}




@media (prefers-color-scheme: dark) {
    .dark {
        /* Dark Theme */
        --ion-background-color: #121212;
        --ion-text-color: #ffffff;
        --ion-container-background: #333333;
        --ion-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

        --ion-color-primary: #bb86fc;
        --ion-color-primary-contrast: #ffffff;
        --ion-color-primary-shade: #9b6bf3;
        --ion-color-primary-tint: #ce9ff6;

    }
}